@font-face {
  font-family: "Rubik Microbe";
  src: local("Rubik Microbe"),
    url("./fonts/RubikMicrobe-Regular.ttf") format("truetype");
}

.heading {
  font-family: "Rubik Microbe", sans-serif;
  /* font-size: 7rem; */
  font-weight: 400;
  color: #7800af;
  /* margin-bottom: 1rem; */
}
