@font-face {
  font-family: "Rubik Microbe";
  src: local("Rubik Microbe"),
    url("./fonts/RubikMicrobe-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lavishly Yours";
  src: local("Lavishly Yours"),
    url("./fonts/LavishlyYours-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Quintessential";
  src: local("Quintessential"),
    url("./fonts/Quintessential-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mukta Regular";
  src: local("Mukta Regular"), url("./fonts/Mukta-Regular.ttf");
}

.AppContainer {
  font-family: "Mukta Regular", sans-serif !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}



.heading {
  font-size: 6.5rem;
  font-weight: 400;
  color: #7800af;
  /* animation: typing 3s steps(30) 1s 1 normal both; */
  overflow: hidden;
  margin: 0;
  z-index: 1;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content-container .sub-heading {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #480069;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.astro-button {
  display: flex;
  background-color: #480069;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s;
  justify-content: center;
  align-items: center;
  clip-path: polygon(10% 10%, 90% 5%, 85% 90%, 15% 85%);
  margin-right: 5px;
  font-family: "Quintessential", sans-serif;
  font-size: 1.3rem;
}

.astro-button:hover {
  background-color: #7800af;
  animation: jump 0.5s;
}

/* pop up animation continous*/
@keyframes pop-up {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

/* jump animation */
@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* text type animation */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 5px;
  margin: 5px;
  height: 500px;
}

/* need in bottom center */
.swipe-up {
  position: absolute;
  bottom: 10px;
  right: 10px;
  transform: translateX(50%);
  animation: jump 1s infinite;
  font-family: "Quintessential", sans-serif;
  font-size: 1.5rem;
  background-color: rgb(255, 255, 168);
}

.cross-banner {
  height: 150px;
  background-color: black;
}

.swipe-up .icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: rgb(255, 255, 168);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  animation: pop-up 0.5s ease forwards;
  clip-path: polygon(10% 10%, 90% 5%, 85% 90%, 15% 85%);
}

.footer-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}

.footer-container .footer-content .footer-quick-links {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  flex: 1 1 calc(33.33% - 20px);
  flex-wrap: wrap;
}

.footer-container .footer-content .footer-quick-links .quicklink {
  /* min-height: 350px; */
  flex-grow: 1;
}

.quicklink b {
  text-align: center;
}

.quicklink li {
  margin: 2px;
  margin-inline-start: 0;
}

.quicklink li svg {
  height: 15px;
  display: none;
}

.quicklink li:hover {
  text-decoration: underline;
  cursor: pointer;
  word-spacing: 5px;
}

.quicklink li:hover svg {
  /* display: inline-block; */
}


.footer-container .footer-content {
  width: 90vw;
}

.quick-link-horoscopes {
  list-style-type: none;
  margin-inline-start: 0;
}

.footer-container .copyright {
  border-top: 1px solid white;
  font-size: 0.8rem;
  text-align: center;
  padding: 10px 0;
}


.footer-container .sub-heading {
  font-size: 1rem;
  margin: 0;
}

.footer-container .heading {
  color: #fff;
}

.astro-image {
  object-fit: fill;
  z-index: -1;
  animation: rotate 120s linear infinite;
  border-radius: 100%;
  position: relative;
  mix-blend-mode: hard-light;
  left: 40%;
  user-select: none;
  pointer-events: none;
}

.astro-image-container {
  position: absolute;
  width: -webkit-fill-available;
  overflow: hidden;
  /* Keeps the image behind the text */
}

/* rotate animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 3.5rem;
  }

  .divider {
    width: 100%;
  }

  .heading-container .sub-heading {
    font-size: 1.5rem;
  }

  .topbar-right {
    display: none;
  }

  .topbar-left .menu-icon {
    display: block !important;
  }

  .home {
    width: 100vw !important;
  }

  .formB {
    display: none !important;
  }

  .form-container .button-group {
    display: flex !important;
    gap: 10px;
  }

  #form_b_btn {
    display: flex !important;
  }
}


/* TOPBAR */
.topbar {
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1000;
}

.topbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

.topbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.topbar-right .topbar-menu {
  display: flex;
  list-style: none;
}

.menu-item {
  margin: 0 10px;
  cursor: pointer;
  color: #333;
}

.menu-item:hover {
  text-decoration: underline;
}

.menu-item.active {
  font-weight: bold;
}

.menu-item.active:hover {
  text-decoration: none;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item:first-child {
  margin-left: 0;
}

.menu-item.active {
  color: #f50057;
}

.section-2 {
  display: flex;
  min-height: 450px;
  margin: 5px;
}

.section-2 .heading {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 400;
  margin: 0;
}

.section-2 .sub-heading {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0;
}

.section-2 .content {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.section-2 .content-image FORM {
  width: 70%;
  object-fit: cover;
  border-radius: 10px;
}

.menu-item.active:hover {
  text-decoration: none;
}

.menu-item:hover {
  text-decoration: underline;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topbar-left .menu-icon {
  display: none;
}

.drawer-menu {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
  width: 200px;
}

.drawer-item {
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 70vw;
  border: 1px solid #ccc;
}

/* FORM */
.form-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.form-container .button-group {
  display: none;
}

.a_btn {
  background-color: rgb(255, 255, 168);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem !important;
  transition: all 0.3s;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 1.3rem;
}

.form-container .a_btn:hover {
  animation: jump 0.5s;
}

.form-container form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
}

.form-container form .input {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
}

.form_content_login {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.saved_kundli .kundli {
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formB .saved_kundli {
  overflow-y: scroll;
}